/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 16 abr. 2024, 9:41:19
    Author     : 39348
*/
@font-face {
    font-family: 'Arcade';
    src: url('ARCADE_N.TTF') format('truetype');
    /* Puedes añadir más formatos de fuente aquí si los tienes disponibles */
}
.antesFooter{
    margin-bottom: 100px;
}
/* Estilos para el cuerpo de la página */
body {
    background-color: #FF914D; /* naranja */
    color: #000000; /* Negro */
    font-family: Arial, sans-serif;
}


h1{
    font-family: 'Arcade', Arial, sans-serif;
    color:#2e36a1;
     box-shadow: 12px 12px 12px 12px #f60209 ;
     background-color: #fdc800;
     border-radius: 25px;
     margin-bottom: 20px;
}

/* Estilos para la barra de navegación */
.navbar {
    background-color: #8488f4; /* Azul */
    margin-bottom: 20px;
}

.navbar-toggler-icon {
    color: #FFFFFF; /* Blanco */
}

.nav-link {
    color: #FFFFFF; /* Blanco */
}

.nav-link:hover {
    color: #010028; /* Azul logo */
}

/* Estilos para los botones */
.btn-primary {
    background-color: #fecc01; /* Amarillo Retro */
    border-color: #fecc01; /* Amarillo retro */
}

.btn-primary:hover {
    background-color: #010028; /* Azul logo */
    border-color: #010028; /* Azul Logo */
}

/* Estilos para los cards */
.card {
    background-color: #E0E0E0; /* Gris claro */
    margin-bottom: 20px;
    border: 1px solid #ff0101;
    box-shadow: 0 12px 12px #8488f4;
}

.card-title {
    color: #5F4B8B;
}

.card-text {
    color: #000000; /* Negro */
}

/* Estilos para el footer */
footer {
    background-color: #000000; /* Negro */
    color: #FFFFFF; /* Blanco */
    text-align: center;
}

/* Estilos para los íconos de redes sociales en el footer */
footer a {
    color: #FFFFFF; /* Blanco */
    font-size: 24px;
    margin-right: 10px;
}

/* Estilos para los íconos de redes sociales en el footer al pasar el mouse por encima */
footer a:hover {
    color: #A178BE; /* Morado suave */
}

.card_post_info{
    margin-left: 30px;
}
.divUserOptions form button{
width: 100%;
margin-bottom: 10px;
}
